<!--<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <form action="">
    <br>
  <h2>Login</h2>


  <div class="container">
    <label for="uname"><b>Nom d'utilisateur</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Mot de passe</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" (click)="login()">Login</button>
    <div class="container">
      <span class="psw">Si vous n'avez pas de compte !  <a routerLink="/subscribe">Inscrivez-vous</a></span>

    </div>
    <br>
  </div>
</form>

</body>
</html>
-->
