
<table class="table">
  !--  <tr><th>Cin</th><th>Nom</th><th>Prenom</th><th>action</th></tr>
    <tr *ngFor="let e of ListLivres">

      <td>{{e.author}}</td>
      <td>{{e.title}}</td>




    </tr>
   </table>




<form>

  <div class="form-group">
    <label>auth</label>
    <input type="text" name="nom" [(ngModel)]="Livre.author" class="form-control">
  </div>
  <div class="form-group">
    <label>desc</label>
    <input type="text" name="prenom" [(ngModel)]="Livre.title" class="form-control">
  </div>
  <div >
  <button (click)="save()" class="btn btn-success"></button>
</div>
 </form>


