
<h1>r!</h1>
<div class="container">
<form [formGroup]="CreateBookForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label>Title:</label>
    <input type="text" class="form-control" formControlName="title">
    <br>
    <div class="alert alert-danger" *ngIf="CreateBookForm.get('title').errors && CreateBookForm.get('title').touched">
      <div *ngIf="CreateBookForm.get('title').hasError('required')">The name is a required field</div>
      <div *ngIf="CreateBookForm.get('title').hasError('minlength')">The name minlength is 3 </div>
    </div>
  </div>
  <div class="form-group">
    <label>Author:</label>
    <input type="text" class="form-control" formControlName="author">
    <br>
    <div class="alert alert-danger" *ngIf="CreateBookForm.get('author').errors && CreateBookForm.get('author').touched">
      <div *ngIf="CreateBookForm.get('author').hasError('required')">The name is a required field</div>
      <div *ngIf="CreateBookForm.get('author').hasError('minlength')">The name minlength is 3 </div>
    </div>
  </div>

  <div class="form-group">
    <label>Synopsis:</label>
    <input type="text" class="form-control" formControlName="synopsis">
    <br>
    <div class="alert alert-danger" *ngIf="CreateBookForm.get('synopsis').errors && CreateBookForm.get('synopsis').touched">
      <div *ngIf="CreateBookForm.get('synopsis').hasError('required')">The name is a required field</div>
      <div *ngIf="CreateBookForm.get('synopsis').hasError('minlength')">The name minlength is 3 </div>
    </div>
  </div>
  <div class="form-group">
    <label>price:</label>
    <input type="text" class="form-control" formControlName="price">
    <br>
    <div class="alert alert-danger" *ngIf="CreateBookForm.get('price').errors && CreateBookForm.get('price').touched">
      <div *ngIf="CreateBookForm.get('price').hasError('required')">The name is a required field</div>
      <div *ngIf="CreateBookForm.get('price').hasError('minlength')">The name minlength is 3 </div>
      <div *ngIf="CreateBookForm.get('price').hasError('maxlength')">The price maxlength is 2 </div>
      <div *ngIf="CreateBookForm.get('price').hasError('min')">The price cannot be negative </div>
      <div *ngIf="CreateBookForm.get('price').hasError('pattern')">The price cannot be a letter </div>

    </div>
  </div>
  <div class="form-group">
    <label>quantity:</label>
    <input type="text" class="form-control" formControlName="quantity">
    <br>
    <div class="alert alert-danger" *ngIf="CreateBookForm.get('quantity').errors && CreateBookForm.get('quantity').touched">
      <div *ngIf="CreateBookForm.get('quantity').hasError('required')">The name is a required field</div>
      <div *ngIf="CreateBookForm.get('quantity').hasError('minlength')">The name minlength is 3 </div>
      <div *ngIf="CreateBookForm.get('quantity').hasError('min')">The quantity cannot be negative </div>
      <div *ngIf="CreateBookForm.get('quantity').hasError('pattern')">The quantity cannot be a letter </div>

    </div>
  </div>

  <div class="form-group">
    <label>publication date:</label>
    <div >

      <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
        <input placeholder="Select date" type="date" id="example" class="form-control">

      </div>

  </div>
  </div>

  <div class="form-group">
    <label> Cover image </label>
    <div >
 <!--<input type="file"  (change)="onFileselected($event)">-->


  </div>
  </div>

  <div class="form-group">
    <label>Type :</label>
  <select name="type" id="ty^pe">

    <option value="">--Please choose an option--</option>
    <option value="history">history</option>
    <option value="horror">horror</option>
    <option value="mystery">mystery</option>

</select>
  </div>





  <button class="btn btn-success" type="submit" [disabled]="CreateBookForm.invalid">
    Submit
  </button>


</form>
</div>
